body {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
}

a {
  text-decoration: none;
}

iframe {
  width: 100%;
}

body > div {
  max-width: 950px;
  margin: 0 auto;
  background: rgba(40, 44, 52, 0.98);
  border-right: 10px solid #2D4A6C;
  border-left: 10px solid #B39B53;
}

header {
  padding: 20px 0;
}

a.logo {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0.85;
  transition-property: opacity;
  transition-duration: 300ms;
}

a.logo:hover {
  opacity: 1;
}

a.logo .fazeclan {
  position: absolute;
  color: #C23836;
  font-family: 'Audiowide', cursive;
  font-size: 7rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2000ms;
}

a.logo:hover .fazeclan {
  display: block;
  opacity: 1;
}

a.logo .faze-left {
  top: 50px;
  left: 50px;
}

a.logo .faze-right {
  top: 50px;
  right: 40px;
}

nav ul {
  width: 100%;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  padding: 10px 30px;
  font-size: 1.5rem;
  color: #ffffff;
  transition-property: color, text-shadow;
  transition-duration: 300ms;
}

nav li:nth-of-type(3n+1).active a {
  color: #B39B53;
}

nav li:nth-of-type(3n+2).active a {
  color: #2D4A6C;
}

nav li:nth-of-type(3n).active a {
  color: #C23836;
}

nav li:nth-of-type(3n+1) {
  border-right: 1px solid #B39B53;
}

nav li:nth-of-type(3n+2) {
  border-right: 1px solid #2D4A6C;
}

nav li:nth-of-type(3) {
  border-right: 1px solid #C23836;
}

nav li:nth-of-type(3n+1) a:hover {
  color: #B39B53;
  text-shadow: 0 0 10px #B39B53;
}

nav li:nth-of-type(3n+2) a:hover {
  color: #2D4A6C;
  text-shadow: 0 0 10px #2D4A6C;
}

nav li:nth-of-type(3n) a:hover {
  color: #C23836;
  text-shadow: 0 0 10px #C23836;
}

.singer-image {
  position: relative;
  width: 100%;
  height: 300px;
}

.singer-image div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  font-size: 4rem;
  font-family: "Bowlby One SC", cursive;
  color: rgba(255, 255, 255, 0.7);
}

.scooter {
  background: url("../images/1-scooter.jpg") 50% 10%;
}

.scooter div,
.abba div {
  background: rgba(179, 155, 83, 0.5);
}

.sash {
  background: url("../images/2-sash.jpg") 50% 10%;
}

.sash div,
.haddaway div {
  background: rgba(45, 74, 108, 0.5);
}

.fatboy {
  background: url("../images/3-fatboy.jpg") 50% 10%;
}

.fatboy div, 
.cascada div{
  background: rgba(194, 56, 54, 0.5);
}

.abba {
  background: url("../images/4-abba.jpg") 50% 10%;
}

.haddaway {
  background: url("../images/5-haddaway.jpg") 50% 10%;
}

.cascada {
  background: url("../images/6-cascada.jpg") 50% 10%;
}

p {
  margin: 20px 40px;
  color: #ffffff;
}

/*
  Стили для формы
*/

form {
  margin: 0 40px;
}

label {
  display: block;
  margin: 5px 0 25px;
  font-size: 1.14rem;
  font-weight: bold;
  color: #ffffff;
}

input, textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 8px;
  font-weight: normal;
  color: #C23836;
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid #C23836;
  border-left: 0;
}

input:focus, textarea:focus {
  color: #B39B53;
  background: #111317;
  border-bottom: 3px solid #B39B53;
}

textarea {
  height: 150px;
}

button {
  width: 100%;
  padding: 8px;
  font-size: 1.42rem;
  text-align: center;
  color: #ffffff;
  background: #C23836;
  border: 0;
  transition: 300ms;
}

button:hover {
  background: #B39B53;
}

/*
  Подвал сайта
*/

.wiki {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 0;
  font-size: 2rem;
  text-align: center;
  color: #cccccc;
  background: #121317;
}

.wiki::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/Wikipedia-30.png") 30px 50% no-repeat;
}

footer {
  margin-top: 25px;
  padding: 15px;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  background: #2D4A6C;
}